.card {
  position: relative;
}

.card__title {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 12px;
  font-size: 20px;
  line-height: 1.2;
  max-width: 350px;
}

.card__image {
  width: 100%;

  object-fit: cover;
  height: 413px;
  display: block;
  border-radius: 8px;
}

.card__content {
  padding: 12px 0 0;
}

.card__like-button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  opacity: 0.4;
}

.card__like-button:hover {
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .cards__grid {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 40px;
  }
}

@media screen and (max-width: 767px) {
  .cards__grid {
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0 20px;
  }
}
