.profile {
  display: flex;

  justify-content: space-between;
  padding: 20px;
  margin-bottom: 36px;
  background-color: #fdf6e3;
  width: 100%;
  gap: 20px;
  position: relative;
  border-bottom: 1px solid #21212166;
}

.profile__avatar {
  width: 190px;
  height: 190px;
  border-radius: 8px;
  position: relative;
}

.profile__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.profile__text {
  margin-bottom: 8px;
}

.profile__name {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 373px;
  margin-bottom: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.profile__description {
  color: #666;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 373px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.profile__edit-btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background: transparent;
  border: none;
  color: rgba(33, 33, 33, 0.7);
  cursor: pointer;
  padding: 0;
  margin-top: 16px;
  position: absolute;
  bottom: 20px;
  left: 240px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.profile__edit-btn:hover {
  border-radius: 90px;
  gap: 8px;
  opacity: 0.6;
  color: rgba(33, 33, 33, 1);
}

.profile__new-post-btn {
  margin-top: auto;

  background: #212121;
  color: #fcf5e5;
  border: none;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 157px;
  height: 52px;
  justify-content: center;
}

.profile__new-post-btn:hover {
  width: 157px;
  height: 52px;
  border-radius: 8px;
  gap: 8px;
  padding: 6px 10px;
}
