.page {
  background-color: #fdf6e3;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 36px;
  background-color: #fdf6e3;
  gap: 16px;
  width: 100%;
}

.profile__avatar {
  width: 120px;
  height: 120px;

  flex-shrink: 0;
}

.profile__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.profile__text {
  margin-bottom: 8px;
}

.profile__name {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.profile__description {
  font-size: 14px;
  color: #666;
  margin: 0;
}

.profile__edit-btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background: transparent;
  border: none;
  color: #333;
  cursor: pointer;
  padding: 0;
  margin-top: 16px;
}

.profile__new-post-btn {
  background: black;
  color: white;
  border: none;
  padding: 6px 10px;
  /* border-radius: 8px; */
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}
