.card {
  position: relative;
}

.card__title {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 12px 0 0;
  font-size: 20px;
  line-height: 1.2;
  max-width: 350px;
  white-space: nowrap;
  font-weight: 500;
}

.card__image {
  width: 100%;
  object-fit: cover;
  height: 413px;
  display: block;
  border-radius: 8px;
}

.card__image:hover {
  cursor: pointer;
}

.card__content {
  padding: 12px 0 0;
  display: flex;
  justify-content: space-between;
}

.card__like-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  opacity: 0.4;
  background-image: url(../images/Like_Icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 21px;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button_active {
  background-image: url(../images/Union.svg);
  opacity: 1;
}

.card__delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  background-image: url(../images/Delete_Icon.svg);
  top: 10px;
  right: 10px;
  opacity: 1;

  width: 32px;
  height: 32px;
}

.card__delete-button:hover {
  background-image: url(../images/Delete_Hover.svg);
  cursor: pointer;
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .card__title {
    font-size: 16px;
    max-width: 250px;
  }

  .card__image {
    height: 300px;
  }

  .card__like-button {
    width: 20px;
    height: 20px;
  }
}
